* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    background-color: #dde0e3;
}

h1 {
    border-bottom: 1px solid #5d6063;
    padding: 50px;
}

p {
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 20px 0 20px 10px;
}

em, strong {
    background-color: #b2d6ff;
    display: inline;
}

div {
    color: #fff;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}
